#body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 70px;
}



.banner {
    height: 100px;
    width: 100%;
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    flex: 1;
}

.menu {
    flex: 3;
}

/* li {
    list-style: none;
} */

.menu>li {
    list-style: none;
    padding: 0 20px;
}

.other {
    flex: 1;
}